*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color:grey;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;  
  height: 100vh;
  width: 100vw;
}


.header {
  height: 10%;
  width: 100vw;
  background-color: indianred;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;

}

.formSection {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color:floralwhite;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

input {
  margin: 10px;
  border: none;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  height: 20px;
  width: 100%;
}

.submitButton {
  margin: 10px;
}